<h1><%= @user.name %></h1>
<% if @user.teacher then %>
<p>Teacher</p>
<% else %>
<p>Student</p>
<% end %>
<%= image_tag @user.image, class: "pic" %>
<br>
<%= @user.content %>
<br>
<%= "Email me at #{@user.email} "%>
