


<h1>Lessons</h1>
<h2>Available</h2>
<ul class= "center">
  <% @available_lessons.each do |l| %>
    <li class= "pleft">
      <div class= "center"><%= link_to "#{l.instrument} #{l.date} #{l.time}", lesson_path(l) %></div>
    </li>
<% end %>

<br>
<h2 class= "center">Booked</h2>
<ul class= "center">
  <% current_user.lessons_attending.each do |l| %>
    <li class= "pleft">
      <div class= "center"><%= link_to "#{l.instrument} #{l.date} #{l.time}", lesson_path(l) %></div>
    </li>
  <% end %>

<% if current_user.teacher %>
<br>
<%= link_to 'create a lesson', new_lesson_path if current_user.teacher %>
<% end %>







