<% if current_user.teacher %>
<h1>Booked Lessons</h1>
<% else%>
<h1>Lessons</h1>
<% end %>

<ul> 
  <% @lessons.each do |l| %>
    <li>
      <div><%= link_to "#{l.date} #{l.time}", lesson_path(l) %></div>
    </li>
  <% end %>
</ul>


<br>
<%= link_to 'create a lesson', new_lesson_path if current_user.teacher %>




